html {
  @include typi-base;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: c(text);
  font-family: $font-family;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: c(main);
}
