html {
  @include typi-base;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  color: map-get($colors, text);
  font-family: $font-family;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: map-get($colors, main);
}
