.button {
  $background-color: c(main);
  $text-color: c(light);

  display: inline-block;
  padding: 0 1em;
  border-width: 0;
  border-radius: .2em;
  background-color: $background-color;
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
}
