.chart {
  $border-color: darken(map-get($colors, light), 10%);
  $bar-color: map-get($colors, main);

  display: flex;
  align-items: flex-end;
  height: vr(10);
  margin: vr(2) 0;

  &__step {
    position: relative;
    width: 6em;
    border-bottom: 1px solid $border-color;
    text-align: center;
  }

  &__stepBar {
    display: inline-block;
    width: 2em;
    height: 100%;
    border-radius: .4em .4em 0 0;
    background-color: $bar-color;
  }

  &__stepValue {
    position: absolute;
    top: vr(-1);
    width: 100%;
  }

  &__stepLabel {
    position: absolute;
    bottom: vr(-1);
    width: 100%;
  }
}
